/* GLOBAL STYLES */
body {
  font-family: helvetica, arial, sans;
}
h1 {
  font-size: 5vw;
  margin-top: 0;
}
h2 ~ p {
  font-size: 0.8em;
  font-style: italic;
  margin: 1em auto 0;
  max-width: 70%;
  text-align: center;
}
h3 {
  font-size: 1em;
}
a {
  color:  #f00;
}

/* HEADER STYLES */
.header {
  background-color: #000;
  color: #fff;
}
.header-nav{
  float: right;
  padding: 5.5vh 60px 0 0;
}
 .header-nav > li {
  display: inline-block;
  margin-left: 1em;
}
.header-nav > li ~ li{
  border-left: 1px solid rgba(255,255,255,0.3);
  padding-left: 1em;
}
.header-nav a {
  color: #fff;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header-nav a:hover {
  color: #ed6e2f;
}
.header-nav > li:first-child a {
  color: #ed6e2f;
}
.header-nav > li:first-child a:hover {
  color: #fff;
}
.header-logo {
  background-color: #000;
  box-sizing: border-box;
  display: block;
  height: 10vh;
  position: relative;
  width: 10vh;
  text-align: center;
  padding: 10px;
}
.header-logo img{
  height: 80%;
}
.header-logo:hover,
.header-logo:active {
  background-color: #ed6e2f;
}


/* SOCIAL STYLES */
.social-link {
  background-color: rgba(150,150,150,0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  padding-top: 0.85em;
  text-align: center;
  text-decoration: none;
  height: 2.5em;
  width: 2.5em;
  vertical-align: middle;
}
.social-list {
  list-style: none;
  padding: 0;
  text-align: center;
}
.social-list > li {
  display: inline-block;
  margin: 0 0.5em;
}

/* BIO STYLES */
.bio-wrapper{
  font-size: 24px;
  overflow: hidden;
  margin: 0 auto 3%;
  max-width: 960px;
}
.bio-box{
  border: 1px solid black;
  box-sizing: border-box;
  float: left;
  width: 23%;
  font-size: 1rem;
  padding: 0 2% 2%;
  margin: 40px 1% 0;

}
.bio-box .social-link {
  display: block;
  margin: 2em 0 1em;
}
.bio-box h3 {
  color: #fff;
  font-size: 1.5em;
  margin: -40px 0 1em;
  text-align: center;
}
.bio-box img {
  width: 100%;
}
.bio-copy {
  font-size: 1em;
  line-height: 1.5em;
}
.bio-copy a{
  color: green;
}

/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
}
